*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{font-family: 'Open Sans', sans-serif;}
h2{font-size: 40px;font-weight: 700;}

ul.menu {display: flex;}
.logo { padding: 0 30px 0 60px;}
header{
    background-color: #2e1a4e8a;
    padding: 20px 0 15px 0;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
}


.social-media-list{
    display: flex;
    height: 80px;
    
}
ul.menu-mobile {
    text-align: center;
}


.boton-border{
    border: 2px solid white;
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
}

.boton-blanco{
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    color: #000000;
}
a.boton-blanco {
    font-weight: 600;
    color: black;
}

.icon-item {
   color: white; 
   padding: 0px 10px 0px 10px;
   font-size: 24px;
   border-right: solid 1px white;
}
li:last-child .icon-item {

    border-right: transparent;
 }

.icon-cart {
    color: white;
    font-size: 30px;
}


/*FOOTER*/



.nav-item-footer{
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

nav.nav-footer ul{
    padding-right: 180px;
}

.footer-2{
    background-color: #F3F1F1;
    text-align: center;
}



/* MEDIA QUERIES */


/*Mobile Phone */
@media only screen and (max-width: 768px) {

    /*header*/
    ul.menu-mobile {width: 50%; }
    .logo{width: 50%;}
    .nav-item { display: none;}
    ul.lista-opciones {display: none;}
    header {display: flex; flex-wrap: wrap;}
    .social-media-list { width: 100%; justify-content: center;margin: 1px;}
    .mobile{width: 100%;}
    .nav-footer { display: block;}
    .footer-1{
        background-color: #2E1A4E;
        opacity: 0.9;
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }
    nav.nav-footer ul { padding-right: 0px; }
    nav.nav-footer.col-6.mobile {text-align: center;padding: 21px 0px;}
    .footer-logo.col-4.mobile {text-align: center;}



}
/* Tablet */
@media only screen and (min-width: 768px) {
    ul.menu-mobile {width: 50%; }
    .nav-item { display: none;}
    ul.lista-opciones {display: none;}
    header {display: flex; flex-wrap: wrap;}
    .social-media-list { width: 100%; justify-content: center;margin: 1px;}
    .mobile{width: 100%;}
    .nav-footer { display: block;}
    .footer-1{
        background-color: #2E1A4E;
        opacity: 0.9;
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
    } 
    nav.nav-footer ul { padding-right: 0px; }
    nav.nav-footer.col-6.mobile {text-align: center;padding: 21px 0px;}
    .footer-logo.col-4.mobile {text-align: center;}

       /*Desktop */
}
@media only screen and (min-width: 992px) {
    *Columns*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    ul.menu-mobile {display: none; }

    .nav-item {
        color: white;
        font-size: 16px;
        padding-right: 35px;
        font-weight: 600;
        text-transform: uppercase;
        display: block;
    }
    .lista-opciones {display: flex;height: 20px;}
    ul.lista-opciones {display:flex;}
    ul.lista-opciones li{padding-right: 30px;align-self: flex-end; }
    header{
        background-color: #2e1a4e8a;
        padding: 20px 0 15px 0;
        display: flex;
        align-items: center;
        height: 80px;
        width: 100%;
        flex-wrap: inherit;

    }
    .footer-1{
        background-color: #2E1A4E;
        opacity: 0.9;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
    
    }
    .nav-footer{
        display: flex;
        padding: 10px 0;
        
    }
    nav.nav-footer ul { padding-right: 180px; }
}

