* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main.fondoImagen {
    background-image: url(/image/home/slider-home.png);
    background-size: cover;
}

p {
    text-align: left;
}

.users div p {
    margin-left: 330px;
}

.name-and-surname {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(5, 7, 12, 0.40);
}

h2 {
    background: rgb(5, 7, 12, 0.40);
}


.users {
    background: rgb(5, 7, 12, 0.40);
}

.users .controls {
    width: 50%;
}

.name-and-surname .controls {
    width: 320px;
}

.formulario {
    color: white;
    text-align: center;
    padding: 95px 20px 30px 20px;
    font-size: 13px;
    border-radius: 5px;
}

.controls {
    border-radius: 7px;
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 7px;
}

button {
    background-color: #FAC025;
    padding: 9px 17px 9px 17px;
    border: transparent;
    font-weight: 600;
    border-radius: 10px;
    font-size: 15px;
    margin: 17px;
    text-align: right;
}

button:hover {
    background: rgb(36, 36, 149);
}