* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

main.fondoImagenContacto {
    background-image: url(/image/wallpapers/2-fondo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 182px);
}



.formularioContacto {
    width: 80%;
    display: flex;
    color: white;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
    background: rgb(5, 7, 12, 0.40);
    margin: 120px 0;
    padding: 20px;

}

.item-input-contacto {
    display: flex;
    flex-direction: column;
}

.input-user-contacto {
    display: flex;
}

.col-1,
.col-2 {
    width: 50%;
}

.col-1 {
    display: flex;
    padding-top: 20px;
    font-size: 27px;
    flex-direction: column;
    align-items: flex-start;
}

.col-1 h2,
.col-1 h4 li {
    display: flex;
}

.controlsTwo {
    width: 100%;
    padding: 7px;
    border-radius: 7px;
}

.mail {
    display: flex;
    padding-top: 15px;
    font-size: 15px;
}

.phone {
    display: flex;
    font-size: 15px;
}

label {
    padding: 5px;
}

.controls-name {
    width: 18.9vw;
    padding: 7px;
    border-radius: 7px;
}


.controlsMessage {
    padding-bottom: 15%;
    border-radius: 7px;

}

.name-and-surname-contacto {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width: 767px) and (max-width: 1180px) {

    .col-1 h2,
    .col-1 h4 li {
        display: flex;
        justify-content: center;
    }

    .mail {
        display: flex;
        padding-top: 15px;
        font-size: 15px;
        justify-content: center;
    }
    
    .phone {
        display: flex;
        font-size: 15px;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    main.fondoImagenContacto {
        min-height: 100vh;
    }
    .col-1 {
        display: flex;
        padding-top: 20px;
        font-size: 27px;
        align-items: center;
        flex-direction: column;
    }

    .formularioContacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    .name-and-surname-contacto {
        display: flex;
        flex-direction: column;
    }

    .controls-name {
        width: 37.5vw;
    }

    .input-user-contacto {
        display: flex;
        justify-content: center;
    }



    .register-button {
        display: flex;
        justify-content: center;
    }

    .col-1 h4 li {
        display: flex;
        justify-content: center
    }

    .mail,
    .phone {
        justify-content: center;
    }

    }