header {
    position: fixed;
    width: 100%;
    z-index: 1000;

}
.contenedor-buscador {
    width: 100%;
    justify-content: center;
    display: flex;
   
}


.barraDeBusqueda {
    background-color: #FCFCFC;
    width: 80%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    position: relative;
    top:-50px;
}
form.formularioBusqueda {
    padding: 12px;
}
input#palabraClave {
    width: 250px;
    border: solid #444444 1px;
    border-radius: 4px;
    height: 25px;
    padding: 5px 10px 5px 10px;
    margin:10px;
}
select#categorias {
    width: 150px;
    border: solid #444444 1px;
    border-radius: 4px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    margin:10px;
}

input#fechaEvento {
    width: 150px;
    border: solid #444444 1px;
    border-radius: 4px;
    height: 25px;
    padding: 5px 10px 5px 10px;
    margin:10px;
}
input#lugarEvento {
    width: 150px;
    border: solid #444444 1px;
    border-radius: 4px;
    height: 25px;
    padding: 5px 10px 5px 10px;
    margin:10px;
}
input.buscar_btn {
    background: linear-gradient(180deg, #FFBA01 0%, #E7CB3A 45.83%, #EDD921 83.33%);
    padding: 9px 17px 9px 17px;
    border: transparent;
    font-weight: 600;
    border-radius: 10px;
    font-size: 15px;
    margin: 17px;
}

input.buscar_btn:hover{
    background: linear-gradient(90deg, #FFBA01 0%, #E7CB3A 45.83%, #EDD921 83.33%);
    transition: 0.5s;
}

.titulo-seccion {
    text-align:left;
    position: relative;
    margin-bottom: 50px;
    

}

.titulo-seccion h2{
    font-size: 32px;
}
.line-title{
    height:10px;
    width:110px;
    color:#FAC025;
    background-color:#FAC025;
    border:transparent;

}
.eventos-seccion {

    margin-top: 10px;
}

section{
    width: 100%;
    justify-content: center;

}
.seccion-destacados{
    width: 80%;

    margin: 0 auto;

}
.contenedor-evento{
    display: flex;
    flex-direction: column;
}

.imagen-evento{
    width: 100%;
}

.imagen-evento img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.titulo-evento{
    text-align: center;
    margin-bottom: 10px;
}
.titulo-evento h2 {
    font-size: 24px;
    font-weight: bold;
}


.iconos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 10px 10px 0;
}

.informacion-especifica{
    display: flex;
    flex-direction: column;
    margin: 5px 0 10px 0;
}



.informacion-general{
    display: flex;
}

.icono-fecha, .icono-valor, .fecha-evento, .valor-evento {
    margin-bottom: 5px;
}

.boton-info {
    display: flex;
    padding: 5px 0px;
    width: 90%;
}


.ubicacion{
    font-size: 14px;
}

.icono-carrito {
    font-size: 38px;
    width: 40%;
    cursor: pointer;
}

.boton-amarillo{
    width: 60%;
    cursor: pointer;
    background: linear-gradient(180deg, #FFBA01 0%, #E7CB3A 45.83%, #EDD921 83.33%);
    border-radius:10px;
    font-size: 14px;
    font-weight: bold;
    border:transparent;
    text-align: center;
    padding: 16px;
}
a.boton-amarillo{
    color: black;
    font-weight: bold;
}

.boton-amarillo:hover{
    background: linear-gradient(90deg, #FFBA01 0%, #E7CB3A 45.83%, #EDD921 83.33%);
    transition: 0.5s;
}

/* .contenedor-evento{
    position: relative;
} */

.contenedor-evento-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 3;
}

/* MEDIA QUERIES */


/*Mobile Phone */
@media only screen and (max-width: 768px) {
    article.contenedor-evento {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin: 6%;
    }
    .seccion_eventos {
        width: 100%;
        margin-top: 10px;
        display: block;
        flex-wrap:inherit;
    }
}
/* Tablet */
@media only screen and (min-width: 768px) {
    article.contenedor-evento {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin: 6%;
    }

.seccion_eventos {
    width: 100%;
    margin-top: 10px;
    display: block;
    flex-wrap:inherit;
}
}
/*Desktop */
@media only screen and (min-width: 992px) {
    .contenedor-evento{
        background: #FFFFFF;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin: 1%;
        width: 30%;
        transition: 100ms;
    }
    .contenedor-evento:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.25);
}
    .seccion_eventos {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    article.contenedor-evento {
        width: 30%;
        background: #FFFFFF;
        box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
               
    }
}
@media only screen and (min-width: 1300px) {
    article.contenedor-evento {
        width: 23%;
    }
}