* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FCFAFF;
    background-image: linear-gradient(to top, rgba(250, 189, 12, 0.2), transparent);
}

/* HERO PAGE  */

.image-banner{
    min-height: 535px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.image-banner::before{
    content: "";
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg, rgba(4, 4, 4, 0) 0%, #040404 79.69%);
    left: 0;
    right: 0;
    bottom: 0;
    height: 195px;
}

.btn-img-box, .titulo-principal-box{
    position: relative;
    z-index: 2;
}

.titulo-principal-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 80px 65px;
}

.btn-img-box{
    padding: 0 65px 80px 0;
}

.btn-edit-banner{
    background-color: transparent;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.titulo-principal-box label{
    display: flex;
    align-items: center;
    color: white;
}

.titulo-principal-box i{
    position: relative;
    left: -20px;
    font-size: 20px;
}

.titulo-principal-box .form-control{
    height: 55px;
    width: 100%;
    max-width: 310px;
    color: white;
    font-weight: 600;
}

.titulo-principal-box .form-control, .titulo-principal-box .form-control:focus{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 3px solid white;
}

.titulo-principal-box .form-control::placeholder{
    color: white;
    opacity: 0.5;
    font-weight: 600;
    font-size: 40px;
}

.event-principal-title{
    margin-bottom: 20px;
}

#event-title{
    font-size: 40px;
}

#event-description {
    font-size: 32px;
    max-width: 490px;
}

#event-description::placeholder {
    font-size: 32px;
}

/* /HERO PAGE  */

.form-data-box{
    padding: 30px 135px;
}

.form-data-box-title{
    font-weight: 600;
    font-size: 20px;
    color: #4D4D4D;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.form.box-white{
    padding: 20px 20px 30px 20px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-data-box .form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 23%;
}

.form-data-box .form-control{
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #808080;
    border-radius: 8px;
}

.inputs-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-data-box .form-group.link-maps{
    max-width: 74%;
}

.btn-add-show{
    font-weight: 600;
    font-size: 14px;
    color: #8A8A8A;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-add-show i{
    border-radius: 50%;
    text-align: center;
    border: 2px solid #8A8A8A;
    padding: 3px 5px 3px 4px;
    margin-right: 10px;
}

.divider-forms-box{
    border: 2px solid rgba(66, 48, 96, 0.15);
    margin-top: 100px;
}

.form-data-box .form-group.description-textarea{
    max-width: 73%;
}

.description-row{
    align-items: flex-start;
}

@media (max-width: 1250px) {
    .form-data-box label{
        font-size: 14px;
    }
}

@media (max-width: 998px) {
    .inputs-row {
        gap: 25px;
        flex-wrap: wrap;
    }
    .form-data-box .form-group, .form-data-box .form-group.link-maps, .form-data-box .form-group.description-textarea{
        max-width: 100%;
    }
}

/*Boton fixed*/

.boton-fixed {
    width: 48px;
    height: 48px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 1.5rem;
    z-index: 1000;

}

.boton-fixed a {
    text-decoration: none;
    color: #2E1A4E;
}
