<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musicar - Crea tu cuenta</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-register.css">
    <link rel="stylesheet" href="/css/style-contacto.css">
    <link rel="icon" href="image/favicon.ico">

</head>


<body>
    <header id="top">
        <div class="logo">
            <img src="image/Logo.png" alt="imagen de logo">
        </div>
        <nav class="nav-header">
            <ul class="menu">
                <li><a class="nav-item" href="/">Inicio</a></li>
                <li><a class="nav-item" href="/faq">Preguntas Frecuentes</a></li>
                <li><a class="nav-item" href="/contacto">Contacto</a></li>
            </ul>
        </nav>
        <div class="contenedor-lista">
        <ul class="lista-opciones">
            <li><a class="boton-border" href="/login">Inicia Sesión</a></li>
            <li><a class="boton-blanco" href="/registro">Registrate</a></li>
            <li><a class="icon-cart" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
        </div>

        <div class="burguer-menu-header">
        <i class="fa-solid fa-bars"></i>
        </div>

        <ul class="social-media-list">
            <li><a class="icon-item" href=""><i class="fa-brands fa-facebook"></i></a></li>
            <p>|</p>
            <li><a class="icon-item" href=""><i class="fa-brands fa-instagram"></i></a></li>
            <p>|</p>
            <li><a class="icon-item" href=""><i class="fa-brands fa-tiktok"></i></a></li>
            <p>|</p>
            <li><a class="icon-item" href=""><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
        
    </header>
    <main class="fondoImagenContacto">
        <div class="formularioContacto">
            <div class="col-1">
                <h2>Contactá con nosotros!</h2>
                <h4> <li>A la brevedad nos pondremos en</li> <li>contacto con vos.</li>
               <div class="mail"> <i class="fa-solid fa-envelope"></i>cosmefulanito@gmail.com.ar</div>
               <div class="phone"> <i class="fa-solid fa-phone"></i>+54 11 988 888</div>
           </div>

           <div class="col-2">
            <form action="register.html" method="POST">


                <div class="name-and-surname-contacto">
                    <div class="item-input-contacto">
                        <div class="input-user-contacto">
                            <label for="nombre">Nombre* </label>
                        </div>
                        <input class="controls-name" type="text" name="nombre" id="nombre" required>
                    </div>

                    <div class="item-input-contacto">
                        <div class="input-user-contacto">
                            <label for="apellido">Apellido* </label>
                        </div>
                        <input class="controls-name" type="text" name="apellido" id="apellido" required>
                    </div>
                </div>
                <div class="users">

                    <div class="item-input-contacto">
                        <div class="input-user-contacto">
                            <label for="user">Email* </label>
                        </div>
                        <input class="controlsTwo" type="user" name="user" id="user" required>
                    </div>

                    <div class="item-input-contacto">
                        <div class="input-user-contacto">
                            <label for="user">Teléfono* </label>
                        </div>
                        <input class="controlsTwo" type="user" name="user" id="user" required>
                    </div>

                    <div class="item-input-contacto">
                        <div class="input-user-contacto">
                            <label for="text">Mensaje* </label>
                        </div>
                        <input class="controlsMessage" type="password" name="password" id="password" required>
                    </div>

                    
                </div>

                <div class="register-button">
                    <button type="submit"> Enviar</button>
                </div>
            </form>
            </div>
        </div>




    </main>



    <footer>
        <div class="footer-1 row-mobile">
            <div class="logo col-4">
                <img src="image/Logo.png" alt="imagen de logo">
            </div>
            <nav class="nav-footer col-6 row-mobile">
                <ul class="nav-1 col-2">
                    <li><a class="nav-item-footer" href="/">Inicio</a></li>
                    <li><a class="nav-item-footer" href="/faq">Preguntas Frecuentes</a></li>
                    <li><a class="nav-item-footer" href="/contacto">Contacto</a></li>
                </ul>
                <ul class="nav-2 col-2 row-mobile">
                    <li><a class="nav-item-footer" href="/">TERMINOS Y CONDICIONES</a></li>
                    <li><a class="nav-item-footer" href="/faq">DEFENSA AL CONSUMIDOR</a></li>
                    <li><a class="nav-item-footer" href="/contacto">AYUDA</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-2">
            <p>MusicAR | Calle falsa 123 (C1106ABE) CABA – Argentina | Info Espectáculos: (011) 4938-4304</p>
            <p>Copyright 2022 MusicAR SRL | Todos los derechos reservados.</p>
        </div>
    </footer>

    <include src="/part-header.html"></include>


</body>

</html>