<footer>
    <div class="footer-1">
        <div class="footer-logo  col-4 mobile">
            <img src="../image/Logo.png" alt="imagen de logo">
        </div>
        <nav class="nav-footer col-6 mobile">
            <ul class="nav-1 col-2">
                <li><a href="/" class="nav-item-footer">INICIO</a></li>
                <li><a href="/faq" class="nav-item-footer">PREGUNTAS FRECUENTES</a></li>
                <li><a href="/contacto" class="nav-item-footer">CONTACTO</a></li>
            </ul>
            <ul class="nav-2 col-2 mobile">
                <li><a href="/terminos" class="nav-item-footer">TERMINOS Y CONDICIONES</a></li>
                <li><a href="/defensaconsumidor" class="nav-item-footer">DEFENSA AL CONSUMIDOR</a></li>
                <li><a href="/ayuda" class="nav-item-footer">AYUDA</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer-2">
        <p>MusicAR | Calle falsa 123 (C1106ABE) CABA – Argentina | Info Espectáculos: (011) 4938-4304</p>
        <p>Copyright 2022 MusicAR SRL | Todos los derechos reservados.</p>
    </div>
</footer>