<header id="top">
    <div class="logo">
        <img src="../image/Logo.png" alt="imagen de logo">
    </div>
    <nav class="nav-header">
        <ul class="menu">
            <li><a class="nav-item" href="/">Inicio</a></li>
            <li><a class="nav-item" href="/faq">Preguntas Frecuentes</a></li>
            <li><a class="nav-item" href="/contacto">Contacto</a></li>
        </ul>
    </nav>
    <div class="contenedor-lista">
    <ul class="lista-opciones">
        <li><a class="boton-border" href="/users/login">Inicia Sesión</a></li>
        <li><a class="boton-blanco" href="/users/registro">Registrate</a></li>
        <li><a class="icon-cart" href="/users/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
    </ul>
    </div>

    <div class="burguer-menu-header">
    <i class="fa-solid fa-bars"></i>
    </div>

    <ul class="social-media-list">
        <li><a class="icon-item" href=""><i class="fa-brands fa-facebook"></i></a></li>
        <p>|</p>
        <li><a class="icon-item" href=""><i class="fa-brands fa-instagram"></i></a></li>
        <p>|</p>
        <li><a class="icon-item" href=""><i class="fa-brands fa-tiktok"></i></a></li>
        <p>|</p>
        <li><a class="icon-item" href=""><i class="fa-brands fa-youtube"></i></a></li>
    </ul>
    
</header>