<header>
    <div class="logo">
        <img src="../public/image/Logo.png" alt="imagen de logo">
    </div>
    <nav>
        <ul class="menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/faq">Preguntas Frecuentes</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
    <div class="contenedor">
        <ul>
            <li><a href="/login">Inicia Sesión</a></li>
            <li><a href="/registro">Registrate</a></li>
            <li><a href=""><i class="fas fa-shopping-cart"></i></a>
            </li>
        </ul>
    </div>
    <ul class="social-media-list" style="color: black;">
        <li>
            <a href="">
                <i class="fab fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fab fa-tiktok"></i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fab fa-youtube"></i>
            </a>
        </li>
    </ul>
</header>