<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musicar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/product-detail-style.css">
</head>
<body>


    <header>
        <div class="logo">
            <img src="image/Logo.png" alt="imagen de logo">
        </div>
        <nav class="nav-header">
            <ul class="menu">
                <li><a class="nav-item" href="/">Inicio</a></li>
                <li><a class="nav-item" href="/faq">Preguntas Frecuentes</a></li>
                <li><a class="nav-item" href="/contacto">Contacto</a></li>
            </ul>
        </nav>
        <ul class="lista-opciones">
            <li><a class="boton-border" href="/login">Inicia Sesión</a></li>
            <li><a class="boton-blanco" href="/registro">Registrate</a></li>
            <li><a class="icon-cart" href=""><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
        <ul class="social-media-list">
            <li><a class="icon-item" href=""><i class="fab fa-facebook"></i></a></li>
            <li><a class="icon-item" href=""> <i class="fab fa-instagram"></i></a></li>
            <li><a class="icon-item" href=""><i class="fab fa-tiktok"></i></a></li>
            <li><a class="icon-item" href=""><i class="fab fa-youtube"></i></a></li>
        </ul>
    </header>

    <section class="image-banner">
    <img src="/image/carpa delirio.jpg" alt="Imagen de Carpa Delirio">
    </section>

    <section class="titulo-principal">
            <div>
                <p>CARPA DELIRIO</p>
                <p>Salsa + circo + orquesta | Viernes 24 de Junio 20 hs</p>
            </div>
            <button>COMPRAR ENTRADA</button>
            <button><i class="fas fa-cart-plus"></i></button>
    </section>

    <main>
            <form action="/" method="GET">
                <label>FUNCIÓN</label>
                <select name="fecha-función">
                    <option value="funcion1">Función 1</option>
                    <option value="funcion2">Función 2</option>
                    <option value="funcion3">Función 3</option>
                    <option value="funcion4">Función 4</option>
                </select>
            </form>

            <div class="info-funcion">
                <div>
                <p>LOCALIDADES DISPONIBLES</p>
                <table class="table">
                    <tbody>

                        <tr class="super-pullman">
                            <td>
                                "Super Pullman"
                                <br>
                                <span>Fila 01 a 16</span>
                            </td>
                            <td></td>
                            <td>$</td>
                            <td>5500.-</td>
                            <td class="color-superpullman"></td>
                        </tr>

                        <tr class="campo">
                            <td>
                                "Campo"
                            <br>
                            <span>De pie</span>
                             </td>
                             <td></td>
                             <td>$</td>
                             <td>4000.-</td>
                             <td class="color-campo"></td>
                        </tr>

                        <tr class="pullman-lateral">
                            <td>
                                "Pullman Lateral"
                                <br>
                                <span>Fila 01 a 16</span>
                            </td>
                            <td></td>
                            <td>$</td>
                            <td>3500.-</td>
                            <td class="color-pullmanlateral"></td>
                        </tr>

                        <tr class="cabecera">
                            <td>
                                "Cabecera"
                                <br>
                                <span>Sentado sin numerar</span>
                            </td>
                            <td></td>
                            <td>$</td>
                            <td>2000.-</td>
                            <td class="color-cabecera"></td>
                        </tr>

                        <tr class="silla-de-ruedas">
                            <td>
                                "Silla de Ruedas"
                                <br>
                                <span>Sector limitado</span>
                            </td>
                            <td></td>
                            <td>$</td>
                            <td>1000.-</td>
                            <td class="color-silla-ruedas"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="reglas">
               <p> <i class="fas fa-ban"></i> No se permite el ingreso de menores de 4 años. De 4 a 13 años sólo acompañados por mayor responsable.</p>
               <p><i class="fas fa-door-open"></i>Apertura de puertas: 19:30 hs.</p>
               <p><i class="fas fa-clock"></i>Duración aproximada: 2:30 hs.</p>
                </div>
                </div>
                <img src="/image/mapa teatro.png" alt="Imagen de localidades">
            </div>

            <div class="medios-de-pago">
                <p>MEDIOS DE PAGO</p>
                <div class="tarjetas">
                <img src="/image/logo_mastercard-despues.jpg" alt="mastercard">
                <img src="/image/Maestro-logo.jpg" alt="maestro">
                <img src="/image/american-express-graphic-design-3.jpg" alt="american express">
                <img src="/image/uala.png" alt="uala">
                <img src="/image/mercadopago.png" alt="mercadopago">
                </div>
            </div>

            <div class="descripcion">
                <div class="descripcion-titulo">
                    <p>Título</p>
                    <p>descipción</p>
                </div>
                <div class="descripcion-cuerpo">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, assumenda odio non nulla, tenetur cumque error molestias, ipsum dignissimos tempore officiis fugiat vel quos sit excepturi! Maiores laudantium fuga numquam!</p>
                    <video></video>
                </div>                
            </div>

            <div class="como-llegar">
                <p>¿CÓMO LLEGO?</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3284.079296441212!2d-58.3684163!3d-34.6021563!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a335325f19f9a3%3A0xfd34b93fba734a98!2sLuna%20Park!5e0!3m2!1ses-419!2sar!4v1656991219467!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
    </main>

    <footer>
        <div class="footer-1">
            <div class="logo">
                <img src="image/Logo.png" alt="imagen de logo">
            </div>
            <nav class="nav-footer">
                <ul class="nav-1">
                    <li><a  class="nav-item-footer" href="/">Inicio</a></li>
                    <li><a  class="nav-item-footer"href="/faq">Preguntas Frecuentes</a></li>
                    <li><a  class="nav-item-footer"href="/contacto">Contacto</a></li>
                </ul>
                <ul class="nav-2">
                    <li><a  class="nav-item-footer"href="/">TERMINOS Y CONDICIONES</a></li>
                    <li><a  class="nav-item-footer"href="/faq">DEFENSA AL CONSUMIDOR</a></li>
                    <li><a  class="nav-item-footer"href="/contacto">AYUDA</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-2">
            <p>MusicAR | Calle falsa 123 (C1106ABE) CABA – Argentina | Info Espectáculos: (011) 4938-4304</p>
            <p>Copyright 2022 MusicAR SRL | Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>