<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musicar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/product-detail-style.css">
</head>

<body>


    <header id="top">
        <div class="logo">
            <img src="image/Logo.png" alt="imagen de logo">
        </div>
        <nav class="nav-header">
            <ul class="menu">
                <li><a class="nav-item" href="/">Inicio</a></li>
                <li><a class="nav-item" href="/faq">Preguntas Frecuentes</a></li>
                <li><a class="nav-item" href="/contacto">Contacto</a></li>
            </ul>
        </nav>
        <div class="contenedor-lista">
        <ul class="lista-opciones">
            <li><a class="boton-border" href="/login">Inicia Sesión</a></li>
            <li><a class="boton-blanco" href="/registro">Registrate</a></li>
            <li><a class="icon-cart" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
        </div>
        <ul class="social-media-list">
            <li><a class="icon-item" href=""><i class="fa-brands fa-facebook"></i></a></li>
            <p>|</p>
            <li><a class="icon-item" href=""><i class="fa-brands fa-instagram"></i></a></li>
            <p>|</p>
            <li><a class="icon-item" href=""><i class="fa-brands fa-tiktok"></i></a></li>
            <p>|</p>
            <li><a class="icon-item" href=""><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
        <div class="burguer-menu-header">
        <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <section class="image-banner">
        <img src="/image/carpa delirio.jpg" alt="Imagen de Carpa Delirio">
    </section>

    <section class="titulo-principal">
        <div>
            <h1>CARPA DELIRIO</h1>
            <p>Salsa + circo + orquesta | Viernes 24 de Junio 20 hs</p>
        </div>
        <div class="botones-titulo-principal">
            <button class="boton-comprar">COMPRAR ENTRADA</button>
            <button class="boton-carrito"><i class="fas fa-cart-plus"></i></button>
        </div>
    </section>

    <section class="nav-pagina">
        <nav>
            <ul>
                <ul class="lista-pagina">
                    <li><a href="#localidades"><i class="fa-solid fa-ticket"></i>LOCALIDADES</a></li>
                    <li><a href="#medios-pago"><i class="fa-solid fa-credit-card"></i>MEDIOS DE PAGO</a></li>
                    <li><a href="#descripcion"><i class="fa-solid fa-align-center"></i>DESCRIPCIÓN</a></li>
                    <li><a href="#como-llego"><i class="fa-solid fa-location-dot"></i>COMO LLEGAR</a></li>
                </ul>
        </nav>

    </section>

    <main>

        <div class="boton-fixed">
            <a href="#top"><i class="fas fa-chevron-up"></i></a>
        </div>

        <div class="funcion-form-info" id="localidades">
            <form class="funcion-form" action="/" method="GET">
                <label>FUNCIÓN</label>
                <select name="fecha-función">
                    <option value="funcion1">Función 1</option>
                    <option value="funcion2">Función 2</option>
                    <option value="funcion3">Función 3</option>
                    <option value="funcion4">Función 4</option>
                </select>
            </form>

            <div class="info-funcion">
                <div>
                    <div class="localidades">
                        <h3>LOCALIDADES DISPONIBLES</h3>
                        <hr class="line-localidades">
                        <table class="table">
                            <tbody>

                                <tr class="super-pullman">
                                    <td>
                                        <h4>Super Pullman</h4>

                                        <p>Fila 01 a 16</p>
                                    </td>
                                    <td></td>
                                    <td>$</td>
                                    <td class="precio">5500.-</td>
                                    <td class="color-superpullman"></td>
                                </tr>

                                <tr class="campo">
                                    <td>
                                        <h4>Campo</h4>

                                        <p>De pie</p>
                                    </td>
                                    <td></td>
                                    <td>$</td>
                                    <td class="precio">4000.-</td>
                                    <td class="color-campo"></td>
                                </tr>


                                <tr class="pullman-lateral">
                                    <td>
                                        <h4>Pullman Lateral</h4>

                                        <p>Fila 01 a 16</p>
                                    </td>
                                    <td></td>
                                    <td>$</td>
                                    <td class="precio">3500.-</td>
                                    <td class="color-pullmanlateral"></td>
                                </tr>

                                <tr class="cabecera">
                                    <td>
                                        <h4>Cabecera</h4>

                                        <p>Sentado sin numerar</p>
                                    </td>
                                    <td></td>
                                    <td>$</td>
                                    <td class="precio">2000.-</td>
                                    <td class="color-cabecera"></td>
                                </tr>

                                <tr class="silla-de-ruedas">
                                    <td>
                                        <h4>Silla de Ruedas</h4>

                                        <p>Sector limitado</p>
                                    </td>
                                    <td></td>
                                    <td>$</td>
                                    <td class="precio">1000.-</td>
                                    <td class="color-silla-ruedas"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="reglas">

                        <div>
                            <i class="fas fa-ban"></i>
                            <p> No se permite el ingreso de menores de 4 años. De 4 a 13 años sólo acompañados por mayor
                                responsable.</p>
                        </div>

                        <div>
                            <i class="fas fa-door-open"></i>
                            <p>Apertura de puertas: 19:30 hs.</p>
                        </div>

                        <div>
                            <i class="fas fa-clock"></i>
                            <p>Duración aproximada: 2:30 hs.</p>
                        </div>

                    </div>
                </div>
                <img src="/image/mapa teatro.png" alt="Imagen de localidades">
            </div>
        </div>

        <div class="medios-de-pago" id="medios-pago">
            <div>
            <h3>MEDIOS DE PAGO HABILITADOS</h3>
            <hr class="line-pago">
            </div>
            <div class="tarjetas">
                <img src="/image/mastercard.svg" alt="mastercard">
                <img src="/image/maestro.svg" alt="maestro">
                <img src="/image/american-express-graphic-design-3.jpg" alt="american express">
                <img src="/image/visa.png" alt="visa">
                <img src="/image/mercadopago.png" alt="mercadopago">
                <img src="/image/brubank.png" alt="brubank">
                
            </div>
        </div>

        <div class="descripcion" id="descripcion">
            <div class="descripcion-titulo">
                <h3>CARPA DELIRIO</h3>
                <hr class="line-descripcion">
                <p>Salsa + circo + orquesta</p>
                
            </div>
            <div class="descripcion-cuerpo">
                <div class="texto-descripcion">
                    <p>En medio de la dificultad, los corazones testarudos, imbatibles y pachangueros, vuelven al baile;
                        plantándole cara a la adversidad, pisando firmes en la esperanza y agarrándole la mano a la
                        disciplina para volver a vivir los momentos que lo son todo, que nos hacen recordar el poderío
                        de este departamento valiente y cuyo ritmo, ese que baila por nuestras venas, late al son del
                        orgullo de ser quienes somos, de venir de dónde venimos.</p>
                    <br>
                    <p>Por eso, en la Carpa Delirio estamos de vuelta al ritmo, el último viernes de cada mes como
                        siempre lo fue y siempre lo será, para recordar que nada puede contra un espíritu alegre,
                        creativo y delirante. </p>
                    <br>
                    <p> que sigamos juntos lo seremos todo, y esta carpa que es de cada uno de ustedes, se alza una vez
                        más convencida del poder del arte para transformarnos una y otra vez, para demostrar que en esta
                        tierra le bailamos a la vida y le cantamos al orgullo.</p>
                </div>
                <iframe width="679" height="380" src="https://www.youtube.com/embed/hZrqe1riqmw"
                    title="Carpa Delirio 2022" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

            </div>
        </div>

        <div class="como-llegar" id="como-llego">
            <div>
            <h3>¿CÓMO LLEGO?</h3>
            <hr class="line-comollego">
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3284.079296441212!2d-58.3684163!3d-34.6021563!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a335325f19f9a3%3A0xfd34b93fba734a98!2sLuna%20Park!5e0!3m2!1ses-419!2sar!4v1656991219467!5m2!1ses-419!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="transporte">
                <div class="colectivos">
                    <h3><i class="fa-solid fa-bus"></i>  Colectivos</h3>
                    <p>4, 6, 7, 20, 22, 23, 26, 28, 29, 33, 50, 56, 61, 62, 64, 74, 91, 93, 99, 105, 109, 111, 126, 129,
                        130, 140, 143, 146, 152, 159, 180, 195</p>
                </div>

                <div class="subtes">
                    <h3><i class="fa-solid fa-train-subway"></i>  Subte</h3>
                    <p>Línea B | LEANDRO N. ALEM
                        <br>
                    Línea E | CORREO CENTRAL</p>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <div class="footer-1">
            <div class="logo">
                <img src="image/Logo.png" alt="imagen de logo">
            </div>
            <nav class="nav-footer">
                <ul class="nav-1">
                    <li><a class="nav-item-footer" href="/">Inicio</a></li>
                    <li><a class="nav-item-footer" href="/faq">Preguntas Frecuentes</a></li>
                    <li><a class="nav-item-footer" href="/contacto">Contacto</a></li>
                </ul>
                <ul class="nav-2">
                    <li><a class="nav-item-footer" href="/">TERMINOS Y CONDICIONES</a></li>
                    <li><a class="nav-item-footer" href="/faq">DEFENSA AL CONSUMIDOR</a></li>
                    <li><a class="nav-item-footer" href="/contacto">AYUDA</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-2">
            <p>MusicAR | Calle falsa 123 (C1106ABE) CABA – Argentina | Info Espectáculos: (011) 4938-4304</p>
            <p>Copyright 2022 MusicAR SRL | Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>