<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/style-carrito.css">
</head>

<body class="carrito-page">

    <%- include('../partials/header') %>

    <main class="carrito-main">
        <section class="carrito-section">
            <div>
                <h1 class="carrito-titulo">Carrito de entradas</h1>
            </div>
            <form action="/" method="post">
                <div class="carrito-tabla-container">
                    <table class="carrito-tabla" cellpadding="0" cellspacing="0" border="0">
                        <thead class="carrito-thead">
                            <tr>
                                <td class="td-show">
                                    <h6>show</h6>
                                </td>
                                <td>
                                    <h6>precio</h6>
                                </td>
                                <td>
                                    <h6>cantidad</h6>
                                </td>
                                <td>
                                    <h6>costo de servicio</h6>
                                </td>
                                <td>
                                    <h6>subtotal</h6>
                                </td>
                            </tr>
                        </thead>                
                        <tbody class="carrito-tbody">
                            <tr class="trow">
                                <td>
                                    <figure class="item-carrito-figure">
                                        <img src="image/home/placeholder.png" alt="">
                                        <figcaption class="item-carrito-figcaption">
                                            <h6 class="item-carrito-titulo">Carpa delirio</h6>
                                            <p>salsa + circo + orquesta</p>
                                            <p>24 de junio 20hs.</p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <p>$2.000.-</p>
                                </td>
                                <td>
                                    <div class="counter-container">
                                        <div class="input-group counter-input">
                                            <button class="btn btn-outline-secondary" type="button" id="buttonMinus" data-field="quantity">-</button>
                                            <input type="number" max="150" min="1" step="1" value="1" class="form-control" name="quantity">
                                            <button class="btn btn-outline-secondary" type="button" id="buttonPlus" data-field="quantity">+</button>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p>$600.-</p>
                                </td>
                                <td>
                                    <p>$2.600.-</p>
                                </td>
                                <td>
                                    <button class="action-delete">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5"><hr class="trow-divider"></td>
                            </tr>
                            <tr>
                                <td>
                                    <figure class="item-carrito-figure">
                                        <img src="image/home/placeholder.png" alt="">
                                        <figcaption class="item-carrito-figcaption">
                                            <h6 class="item-carrito-titulo">Carpa delirio</h6>
                                            <p>salsa + circo + orquesta</p>
                                            <p>VIP</p>
                                            <p>24 de junio 20hs.</p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <p>$2.000.-</p>
                                </td>
                                <td>
                                    <div class="counter-container">
                                        <div class="input-group counter-input">
                                            <button class="btn btn-outline-secondary" type="button" id="buttonMinus" data-field="quantity">-</button>
                                            <input type="number" max="150" min="1" step="1" value="1" class="form-control" name="quantity">
                                            <button class="btn btn-outline-secondary" type="button" id="buttonPlus" data-field="quantity">+</button>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p>$600.-</p>
                                </td>
                                <td>
                                    <p>$2.600.-</p>
                                </td>
                                <td>
                                    <button class="action-delete">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="carrito-trow-total">
                                <td colspan="4" style="text-align:right;">
                                    <h5>Total final:</h5>
                                </td>
                                <td>
                                    <h5>$5.200</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="carrito-mobile">
                    <ul class="list-items-carrito">
                        <li class="carrito-item">
                            <div class="item-part-top">
                                <figure class="item-carrito-figure">
                                    <img src="image/home/placeholder.png" alt="">
                                    <figcaption class="item-carrito-figcaption">
                                        <h6 class="item-carrito-titulo">Carpa delirio</h6>
                                        <p>salsa + circo + orquesta</p>
                                        <p>24 de junio 20hs.</p>
                                    </figcaption>
                                </figure>
                                <div>
                                    <button class="action-delete">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                    <p>$2.000.-</p>
                                    <div class="counter-container">
                                        <div class="input-group counter-input">
                                            <button class="btn btn-outline-secondary" type="button" id="buttonMinus" data-field="quantity">-</button>
                                            <input type="number" max="150" min="1" step="1" value="1" class="form-control" name="quantity">
                                            <button class="btn btn-outline-secondary" type="button" id="buttonPlus" data-field="quantity">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-part-bottom">
                                <h6 class="item-price-title">costo de servicio <span>$600</span></h6>
                                <h6 class="item-price-title">subtotal <span>$2600</span></h6>
                            </div>
                        </li>
                        <li class="carrito-item">
                            <div class="item-part-top">
                                <figure class="item-carrito-figure">
                                    <img src="image/home/placeholder.png" alt="">
                                    <figcaption class="item-carrito-figcaption">
                                        <h6 class="item-carrito-titulo">Carpa delirio</h6>
                                        <p>salsa + circo + orquesta</p>
                                        <p>24 de junio 20hs.</p>
                                    </figcaption>
                                </figure>
                                <div>
                                    <button class="action-delete">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                    <p>$2.000.-</p>
                                    <div class="counter-container">
                                        <div class="input-group counter-input">
                                            <button class="btn btn-outline-secondary" type="button" id="buttonMinus" data-field="quantity">-</button>
                                            <input type="number" max="150" min="1" step="1" value="1" class="form-control" name="quantity">
                                            <button class="btn btn-outline-secondary" type="button" id="buttonPlus" data-field="quantity">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-part-bottom">
                                <h6 class="item-price-title">costo de servicio <span>$600</span></h6>
                                <h6 class="item-price-title">subtotal <span>$2600</span></h6>
                            </div>
                        </li>
                    </ul>
                    <div class="total-row-mobile">
                        <h4 class="total-price-mobile">Total final:</h4>
                        <h4 class="total-price-mobile">$5200</h4>
                    </div>
                </div>
                <div class="btn-tabla-container">
                    <button type="submit" class="submit-button">Continuar</button>
                </div>
            </form>
        </section>
    </main>

    <%- include('../partials/footer') %>


</body>
</html>