<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/style-login.css">
    <link rel="stylesheet" href="/css/style-invalid-Input.css" 
</head>

<!--  locals.errors && errors.email ||locals.errors && errors.password?  -->
    <body>
        <%- include('../partials/header') %>
            <main>

                <div class="formulario glass-effect1">
                    <form action="/users/login" method="POST" class="sombra">
                        <h2>Inicia Sesión</h2>

                        <div class="barra">
                            <label for="email">E-mail</label>
                            <input class="controls"
                             type="email" name="email" placeholder="ejemplo@..." id="email">

                        </div>

                        <div class="barra">
                            <label for="password">Contraseña</label>
                            <input class="controls"
                            type="password" name="password" placeholder="****************" id="password">
                            
                            <label class="form-check-label" style=" font-size: 14px;">
                                <input type="checkbox" class="form-check-input" name="remember_user"> Recordar mi usuario
                            </label>

                        </div>
                        <br>
                            <div class="error-text">
                                <p>
                                    Email o contraseña incorrectos.
                                </p>
                            </div>
                        
                            
                                <div class="barra">
                                    <button type="submit" class="btn color-a">Ingresar</button>
                                </div>

                                <div class="registro">
                                    <a class="registrate" href="/users/register">
                                        <p>¿No tienes una cuenta? Registrate!</p>
                                    </a>
                                </div>
                                <div class="redes">
                                    <hr class="linea">
                                    <h5 class="redes-titulo">O inicia con</h5>
                                    <ul class="redes-logos">
                                        <li class="item-logo"><i class="fa-brands fa-facebook"></i></li>
                                        <li class="item-logo"><i class="fa-brands fa-google"></i></li>
                                        <li class="item-logo"><i class="fa-brands fa-instagram"></i></li>
                                    </ul>
                                </div>
                    </form>
                </div>
            </main>

            <%- include('../partials/footer') %>
            <script src="../../../js/loginValidation.js"></script>

    </body>

</html>